# Dossiers à ignorer dans les transferts
**/ancien*
**/nppBackup
**/__pycache__
/test
/Documents
/package
/backup*
#
# Fichiers à ignorer dans les transferts
*.bak*
*.log
#__* # ignore les fichiers commençant par __ dans tous les dossiers
#  ### FIN ###